$orange: #ff8c00;
$white: #fff;
$black: #000000;
$blue: #23418c;
$blueLogin: #0268cc;
$grayBorder: #707070;
$blueButton: #5585ce;
$screenResponse: 992px;
$zindex_templatePopupBooking: -99;
$zindex_0: 0;
$zindex_headerCalendar: 1;
$zindex_messager: 2;
$zindex_itemBookingTime: 50;
$zindex_menuRight: 99;
$zindex_messageFilter: 100;
