body {
    margin: unset;
    font-family: "Poppins", sans-serif !important;
}
.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.mr-auto {
    margin-right: auto;
}

.m-horizontal-auto {
    margin: 0 auto;
}

.m-vertical-auto {
    margin: auto 0;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mr-3 {
    margin-right: 3rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-5 {
    margin-right: 5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.p-none-important {
    padding: unset !important;
}

.width-unset {
    min-width: unset;
    width: auto;
}

.height-100 {
    height: 100%;
}

.buttonCustom {
    border-radius: 5px;
    min-width: 150px;
    border: 1px solid #707070;
    padding: 0;
    min-height: 2.5rem;
    line-height: initial;
    cursor: pointer;
}

.buttonDisabled {
    background: #c4c4c4 !important;
    cursor: not-allowed;
}

.w-f-content {
    width: fit-content;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.iconSpinCalendar {
    width: 13px;
    height: 13px;
    background: red;
    border-radius: 50%;
    margin: auto 0;
}

.over-hidden {
    overflow: hidden;
}

.over-auto {
    overflow: auto;
}

.text-right {
    text-align: right;
}

.ant-spin {
    max-height: unset !important;
    width: 100%;
}
.ant-spin-nested-loading {
    width: 100%;
    height: 100%;
}
.ant-spin-container {
    height: 100%;
    width: 100%;
}
.container-cus {
    padding: 30px 30px 30px 20px;
}
.ant-card.card-common {
    background-color: #fff;
    border: 1px solid #f8f9fa;
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
    border-radius: 20px;
    padding: 5px 0;
    height: 100%;
}
.card-common .ant-card-head {
    border: 0;
    border-radius: 20px 20px 0 0;
}
.card-common .chart-cus {
    height: 220px !important;
}
.ant-card-head-title {
    font-weight: 600;
    font-size: 20px;
    color: #05004e;
    margin-bottom: 0;
}
.table-cus .ant-table-thead > tr > th {
    color: #000;
}
.table-cus .ant-table-thead > tr > th::before {
    content: none !important;
}
.table-cus .ant-table-tbody > tr > td {
    font-size: 15px;
}
.table-cus .ant-pagination-item {
    border-radius: 4px;
}
.table-cus .ant-pagination-item {
    border: 1px solid #dfe3e8;
}
.table-cus .ant-pagination-item a {
    color: #212b36;
    font-weight: 600;
}
.table-cus .ant-pagination-item-active {
    border-color: #1890ff;
}
.table-cus .ant-pagination-item-active a {
    font-weight: 600;
    color: #1890ff;
}
.table-cus .ant-pagination-item-link {
    border-radius: 4px !important;
}
.ant-modal-mask {
    background: rgba(111, 103, 103, 0.31) !important;
}
.ant-form.form-cus {
    padding-left: 10px;
}
.form-cus .ant-form-item {
    margin-bottom: 20px;
}
.form-cus .ant-form-item-label {
    white-space: normal;
    text-align: left;
}
.form-cus .ant-form-item-label > label {
    height: auto;
    width: 125px;
    padding-right: 10px;
    font-size: 15px;
}
.form-cus .label-r .ant-form-item-label > label {
    justify-content: center;
}
.form-cus .ant-form-item-label > label::after {
    content: none;
}
.form-cus .ant-form-item-row {
    align-items: center;
}
.form-cus .ant-select-selector,
.form-cus .ant-picker,
.form-cus input.ant-input {
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px !important;
    min-width: 200px;
    height: 38px !important;
    max-height: 38px;
    width: 100%;
}
.form-cus .ant-input {
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px !important;
}
.form-cus .ant-select-multiple .ant-select-selection-item {
    color: #fff;
    line-height: 28px;
    height: 30px;
    border-radius: 10px;
    font-size: 14px;
    padding: 0 7px 0 10px;
}
.form-cus .ant-select-selection-item[title="Onboarding"] {
    background-color: #04d182;
}
.form-cus .ant-select-selection-item[title="Waiting"] {
    background-color: #f4c22b;
}
.form-cus .ant-select-selection-item[title="Retired"] {
    background-color: #f44236;
}
.form-cus .ant-select-selection-item-remove {
    padding: 0px 2px;
}
.form-cus .btn-submit {
    min-width: 180px;
    color: #fff;
    background: rgba(215, 72, 27, 0.8);
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 8px 15px;
    height: auto;
    border: 0;
    transition: 0.3s;
}
.form-cus .btn-submit:focus {
    border-color: rgba(215, 72, 27, 0.8);
    background: rgba(215, 72, 27, 0.8);
}
.form-cus .btn-submit:hover {
    transform: scale(1.1);
    background: rgba(215, 72, 27, 0.88);
}
.form-cus .form-cus_btn {
    text-align: center;
    margin-top: 32px;
}
.form-cus .textarea-cus .ant-row {
    align-items: flex-start;
}
.info {
    margin-top: 2px;
}
.info_head {
    background-color: #fff;
    text-align: center;
    position: relative;
    padding: 12px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
}
.info_head .name {
    color: #151d48;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.info_head .label {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    background-color: #f4c22b;
    border-radius: 20px;
    padding: 3px 6px 1px;
    text-transform: uppercase;
    min-width: 40px;
    margin-left: 3px;
    display: inline-block;
}
.info_container {
    padding: 20px 10px;
}
.info_content {
    font-size: 16px;
    font-weight: 600;
}
.info .ant-card-head-title {
    font-size: 19px;
    color: #151d48;
}
.info_content .label {
    font-size: 14px;
    font-weight: 400;
}
.info_content .mb {
    margin-bottom: 16px;
}
.info_status {
    font-weight: 500;
    padding: 5px 10px;
    display: inline-block;
    min-width: 100px;
    border-radius: 20px;
    text-align: center;
    margin-top: 15px;
    color: #fff;
}
.info_status.dark {
    background-color: #737791;
}
.form-cus .select-status .ant-select-selection-item {
    margin: 0 -11px;
    border-radius: 8px;
    padding-left: 10px !important;
    line-height: 35px !important;
    color: #fff;
}
.form-cus .select-status .ant-select-selection-item:focus {
    color: #fff;
}
